/* Reset */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica, sans-serif;
    font-size: 20px;
}

/* Layout */
.best-shared {
    margin: 20px auto;
    text-align: center;
    width: 800px;
}
.logo {
    margin-bottom: 15px;
}

.best-shared h2 {
    font-size: 45px;
    font-weight: normal;
    margin-bottom: 25px;
}

.best-shared h2 strong {
    color: #00AEEF;
    font-weight: 600px;
}
.lead-text {
    margin-bottom: 40px;
    font-size: 17px;
}
ul {
    list-style: none;
}
.btn-list {
    text-align: center;
}
.btn-list li {
    display: inline;
    margin-right: 12px;
}
.btn-list li a {
    text-decoration: none;
    color: #fff;
    background-color: #2D3032;
    display: inline-block;
    height: 60px;
    line-height: 56px;
    min-width: 170px;
}
.btn-list li a:hover {
    background-color: #00AEEF;
}